.card-description {
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 20px;
};
.card-header {
  margin-left: 20px;
};
.card-button {
  margin-left: 20px;
  margin-bottom: 20px;
}

.footer-img {
  background: #FFFFFF;
}

.header-img {
  nav {
    background: #FFFFFF;
  }
  .logo-center {
    text-align: center;
    width: 100%;
  }
}


