<h1 id="title" class="title">Partner login</h1>

<br>

<form [formGroup]="partnerLogin" (ngSubmit)="login()">
    <div class="form-control-group">
        <label class="label" for="input-partnerID">Enter Partner ID</label>
        <input id="input-partnerID"
               placeholder="Enter Partner ID"
               formControlName="accountPartnerId" class="form-control">
        <div *ngIf="submitted && partnerLogin.controls.accountPartnerId.errors || partnerLogin.controls.accountPartnerId.touched"
             class="caption status-danger">
            <div *ngIf="partnerLogin.controls.accountPartnerId.errors?.required">Partner ID is required</div>
        </div>
    </div>
    <div class="form-control-group">
        <label class="label" for="input-AccessID"> Enter Access Card ID</label>
        <input id="input-AccessID" formControlName="accessId" placeholder="Enter Access Card Id"
               class="form-control">
        <div *ngIf="submitted && partnerLogin.controls.accessId.errors || partnerLogin.controls.accessId.touched"
             class="caption status-danger">
            <div *ngIf="partnerLogin.controls.accessId.errors?.required">Access Card Id is required</div>
        </div>
    </div>
    <button class="btn form-control" [ngClass]="partnerLogin.invalid ? 'button-cursor' : 'button-valid'"
            [disabled]="submitted || partnerLogin.invalid">LOG IN
    </button>
</form>

<div>
    <label>Don't have an account? </label> <a [routerLink]="['/auth/partner-registration']"> Register</a>
</div>