::ng-deep .mrp-purchase {
    display: flex;
    justify-content: center;
    button {
        border: none;
        outline: none;
        background-color: transparent;
    }
    nb-icon {
        color: #8f9bb3;
        font-size: 26px;
    }
}
