<div class="header">
    <h1 class="header__quotation">Partnership</h1>
</div>

<div class="pre-form-container">
    <p>
        Do you know a company who needs digital marketing assistance? <br> Refer them to us!
        USA Link System wants to partner with you. <br> We provide incentives to individuals
        or businesses who refer potential clients.Connect us with businesses who you think needs our services! You'll receive a referral incentive when they sign and complete a project or campaign with us.
    </p>
</div>

<h2 class="headline">Say what’s up</h2>

<form (submit)="submitForm($event)" novalidate [formGroup]="form">

    <fieldset class="input-text">
        <label for="form-input-first_name">First name</label>
        <input name="first_name" id="form-input-first_name" [formControl]="form.controls.first_name" type="text" placeholder="your first name">
        <div class="errors">
            <div *ngIf="form.controls.first_name.dirty && !form.controls.first_name.valid">
                <small *ngIf="form.controls.first_name.errors.required">This field is required</small>
                <small *ngIf="form.controls.first_name.errors.minlength">Minimal length of this field is: {{form.controls.first_name.errors.minlength.requiredLength}}</small>
                <small *ngIf="form.controls.first_name.errors.maxlength">Maximal length of this field is: {{form.controls.first_name.errors.maxlength.requiredLength}}</small>
            </div>
        </div>
    </fieldset>

    <fieldset class="input-text">
        <label for="form-input-last_name">Last name</label>
        <input name="last_name" id="form-input-last_name" [formControl]="form.controls.last_name" type="text" placeholder="your last name">
        <div class="errors">
            <div *ngIf="form.controls.last_name.dirty && !form.controls.last_name.valid">
                <small *ngIf="form.controls.last_name.errors.required">This field is required</small>
                <small *ngIf="form.controls.last_name.errors.minlength">Minimal length of this field is: {{form.controls.last_name.errors.minlength.requiredLength}}</small>
                <small *ngIf="form.controls.last_name.errors.maxlength">Maximal length of this field is: {{form.controls.last_name.errors.maxlength.requiredLength}}</small>
            </div>
        </div>
    </fieldset>

    <fieldset class="input-text">
        <label for="form-input-email">Email</label>
        <input name="email" id="form-input-email" [formControl]="form.controls.email" type="text" placeholder="your email">
        <div class="errors">
            <div *ngIf="form.controls.email.dirty && !form.controls.email.valid">
                <small *ngIf="form.controls.email.errors.required">This field is required</small>
                <small *ngIf="form.controls.email.errors.invalidEmail">Incorrect email address</small>
            </div>
        </div>
    </fieldset>

    <fieldset class="input-text">
        <label for="form-input-phone">Phone number</label>
        <input name="phone" id="form-input-phone" [textMask]="phoneMask" [formControl]="form.controls.phone" type="text" placeholder="(xxx) xxx-xxxx">
        <div class="errors">
            <div *ngIf="form.controls.phone.dirty && !form.controls.phone.valid">
                <small *ngIf="form.controls.phone.errors.required">This field is required</small>
                <small *ngIf="form.controls.phone.errors.invalidPhone">Incorrect phone number format</small>
            </div>
        </div>
    </fieldset>

    <fieldset class="input-text-full">
        <label for="form-input-occupation">Occupation</label>
        <input name="occupation" id="form-input-occupation" [formControl]="form.controls.occupation" type="text" placeholder="your title">
        <div class="errors">
            <div *ngIf="form.controls.occupation.dirty && !form.controls.occupation.valid">
                <small *ngIf="form.controls.occupation.errors.required">This field is required</small>
                <small *ngIf="form.controls.occupation.errors.minlength">Minimal length of this field is: {{form.controls.occupation.errors.minlength.requiredLength}}</small>
                <small *ngIf="form.controls.occupation.errors.maxlength">Maximal length of this field is: {{form.controls.occupation.errors.maxlength.requiredLength}}</small>
            </div>
        </div>
    </fieldset>

    <fieldset class="input-text-full">
        <label for="form-input-company">Refer to</label>
        <input name="referred_company" id="form-input-company" [formControl]="form.controls.referred_company" type="text" placeholder="company name">
        <div class="errors">
            <div *ngIf="form.controls.referred_company.dirty && !form.controls.referred_company.valid">
                <small *ngIf="form.controls.referred_company.errors.required">This field is required</small>
                <small *ngIf="form.controls.referred_company.errors.minlength">Minimal length of this field is: {{form.controls.referred_company.errors.minlength.requiredLength}}</small>
                <small *ngIf="form.controls.referred_company.errors.maxlength">Maximal length of this field is: {{form.controls.referred_company.errors.maxlength.requiredLength}}</small>
            </div>
        </div>
    </fieldset>

    <fieldset class="input-text">
        <label for="form-input-contact">Recommended person</label>
        <input name="contact_person" id="form-input-contact" [formControl]="form.controls.contact_person" type="text" placeholder="contact person">
        <div class="errors">
            <div *ngIf="form.controls.contact_person.dirty && !form.controls.contact_person.valid">
                <small *ngIf="form.controls.contact_person.errors.required">This field is required</small>
                <small *ngIf="form.controls.contact_person.errors.minlength">Minimal length of this field is: {{form.controls.contact_person.errors.minlength.requiredLength}}</small>
                <small *ngIf="form.controls.contact_person.errors.maxlength">Maximal length of this field is: {{form.controls.contact_person.errors.maxlength.requiredLength}}</small>
            </div>
        </div>
    </fieldset>

    <fieldset class="input-text">
        <label for="form-input-contact_phone">Phone number</label>
        <input name="phone_contact_pers" id="form-input-contact_phone" [textMask]="phoneMask" [formControl]="form.controls.phone_contact_pers" type="text" placeholder="(xxx) xxx-xxxx">
        <div class="errors">
            <div *ngIf="form.controls.phone_contact_pers.dirty && !form.controls.phone_contact_pers.valid">
                <small *ngIf="form.controls.phone_contact_pers.errors.required">This field is required</small>
                <small *ngIf="form.controls.phone_contact_pers.errors.invalidPhone">Incorrect phone number format</small>
            </div>
        </div>
    </fieldset>

    <fieldset class="input-text">
        <label for="form-input-contact_email">Email</label>
        <input name="email_contact_pers" id="form-input-contact_email" [formControl]="form.controls.email_contact_pers" type="text" placeholder="email">
        <div class="errors">
            <div *ngIf="form.controls.email_contact_pers.dirty && !form.controls.email_contact_pers.valid">
                <small *ngIf="form.controls.email_contact_pers.errors.required">This field is required</small>
                <small *ngIf="form.controls.email_contact_pers.errors.invalidEmail">Incorrect email address</small>
            </div>
        </div>
    </fieldset>

    <fieldset class="input-text">
        <label for="form-input-url">Website</label>
        <input name="website" id="form-input-url" [formControl]="form.controls.website" type="text" placeholder="website url">
        <div class="errors">
            <div *ngIf="form.controls.website.dirty && !form.controls.website.valid">
                <small *ngIf="form.controls.website.errors.required">This field is required</small>
                <small *ngIf="form.controls.website.errors.invalidUrl">Incorrect URL format</small>
            </div>
        </div>
    </fieldset>

    <button type="submit">Submit</button>
</form>

<app-quote-section></app-quote-section>

<app-alert-modal [message]='popup_message()'
                 [action_value]='action'
                 (returnEvent)=checkModal($event)></app-alert-modal>
