<header class="header" [class.header--404]="route404" *ngIf="!isGuideline">
    <div class="header__large-container" *ngIf="routeHome">
        <a title="ULS" class="logo" routerLink="/">
            <img src="/assets/img/navbar_logo/logo-white-small.webp" alt="ULS">
        </a>
    </div>

    <ul class="header__container" [class.header__container--inverse]="route404" *ngIf="!routeHome">
        <li>
            <a class="header__link" routerLink="/who-we-are" routerLinkActive="header__link--active">#WhoWeAre</a>
        </li>
        <li>
            <a class="header__link" routerLink="/our-work" routerLinkActive="header__link--active">#OurWork</a>
        </li>
        <li>
            <a title="ULS" class="logo" routerLink="/">
                <img [attr.src]="route404 ? '/assets/img/navbar_logo/logo-black-small.webp' : '/assets/img/navbar_logo/logo-white-small.webp'" alt="ULS">
            </a>
        </li>
        <li>
            <a class="header__link" routerLink="/lets-talk" routerLinkActive="header__link--active">#LetsTalk</a>
        </li>
        <li>
            <a class="header__link" routerLink="/whats-new" routerLinkActive="header__link--active">#WhatsNew</a>
        </li>
    </ul>

    <div class="container" *ngIf="!routeHome && !isService">
        <a title="ULS" class="logo" routerLink="/">
            <img [attr.src]="route404 && !menuState ? '/assets/img/navbar_logo/logo-black-small.webp' : '/assets/img/navbar_logo/logo-white-small.webp'" alt="ULS">
        </a>
        <button [class.burger-404]="route404" (click)="toggleSideMenu()">
            <span class="menu-bars" *ngIf="!menuState">
                <i></i>
                <i></i>
                <i></i>
            </span>
            <span class="menu-cross" *ngIf="menuState">
                <i></i>
                <i></i>
            </span>
        </button>
    </div>
</header>

<main>
    <router-outlet></router-outlet>

    <div class="drawer" [attr.data-background]="drawerColor" [class.drawer-hidden]="menuState">
        <ul>
            <li>
                <a routerLink="/who-we-are">#WhoWeAre</a>
            </li>
            <li>
                <a routerLink="/our-work">#WhatWeDo</a>
            </li>
            <li>
                <a routerLink="/whats-new">#WhatsNew</a>
            </li>
            <li>
                <a routerLink="/lets-talk">#LetsTalk</a>
            </li>
        </ul>
    </div>

    <div class="drawer-backdrop" (click)="closeSideMenu()" (touchmove)="preventTouchScroll($event)" *ngIf="menuState"></div>
</main>

<footer *ngIf="!route404 && !isGuideline">

    <div class="certificates">
        <img src="/assets/img/footer_certificates_BS.webp" alt="company-certificates">
    </div>

    <div class="copyright">
        <div class="copyright__info">Copyright test {{date | date: 'yyyy'}}. USA Link System Inc. All Rights Reserved.</div>
        <div class="copyright__contacts">
            <span class="copyright__phone">Call: <a href="tel:+18009086782">1(800) 908-6782</a></span>
            <span class="copyright__text">Text: (747) 249-5235</span>
        </div>
        <ul class="copyright__social">
            <li>
                <a target="_blank"
                   title="ULS Facebook"
                   class="facebook-icon"
                   href="https://www.facebook.com/USALinkSystem/">
                    <img src="/assets/img/footer_socials/facebook.png" alt="facebook-icon">
                </a>
            </li>
            <li>
                <a target="_blank"
                   title="ULS Twitter"
                   href="https://twitter.com/USALinkSystem">
                    <img src="/assets/img/footer_socials/twitter.png" alt="twitter-icon">
                </a>
            </li>
            <li>
                <a target="_blank"
                   title="ULS Instagram"
                   href="https://www.instagram.com/usalinksystem/">
                    <img src="/assets/img/footer_socials/insta.png" alt="instagram-icon">
                </a>
            </li>
            <li>
                <a target="_blank"
                   title="ULS Linkedin"
                   href="https://www.linkedin.com/company/usalinksystem/">
                    <img src="/assets/img/footer_socials/linkedin.png" alt="linkedin-icon">
                </a>
            </li>
        </ul>
    </div>

</footer>
