.list {
  margin: 0 0 0 50px
  padding: 0
  list-style: none
  a {
    color #222222
    font-size 16px
    text-decoration none
    font-weight 500
    transition all 0.1s
    &:focus,
    &:active{
      color #222222
    }
    &:hover {
      color #e83693
    }
  }
  li {
    margin-bottom 25px
  }
}

.listItemActive {
  color #e83693 !important
}