.mt-t1-navbar {
    background-color: $white-color;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 14px;
    box-shadow: 3px 5.196px 65px 0px rgba(1, 19, 17, 0.1);
    &__nav {
        @include min-media($break-sm) {
            display: block !important;
        }
    }
    &__logo {
        height: 100%;
        display: flex;
        @include font-size(30);
        font-weight: bold;
        flex-direction: column;
        justify-content: center;
        text-transform: uppercase;
        font-family: $titles-font;
        span {
            @include font-size(22);
            color: $base-color;
            letter-spacing: 4px;
            display: block;
        }
    }
    &__menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        li {
            padding-left: 30px;
        }
        a {
            &:hover {
                color: $base-color;
            }
        }
    }
    &__contacts {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        margin-top: 10px;
        li {
            padding-left: 15px;
        }
        a {
            color: $base-color;
            font-family: $heading-font;
        }
    }
    &__burger {
        display: flex;
        justify-content: flex-end;
    }
    &--fixed {
        width: 100%;
        z-index: 4;
        position: fixed;
    }
    
    @include max-media($break-md) {
        &__menu {
            li {
                padding-left: 15px;
            }
        }
    }
    @include max-media($break-sm) {
        position: relative;        
        &__nav {
            display: none;
        }
        &__menu {
            align-items: flex-start;
            flex-direction: column;
            li {
                padding-left: 0;
                padding-top: 10px;
            }
        }
        &__contacts {
            align-items: flex-start;
            flex-direction: column;
            margin-top: 0;
            li {
                padding-left: 0;
                padding-top: 10px;
            }
        }
    }
}

.mt-t1-burger {
    $root: &; 
    width: 60px;
    height: 60px;
    display: flex;
    cursor: pointer;
    margin-top: -3px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    background-color: $background-color;
    &__block {
        width: 45px;
        height: 45px;
        position: relative;
        border-radius: 4px;
        background-color: $white-color;
        box-shadow: 0.5px 0.866px 4px 0px rgba(21, 21, 21, 0.07);
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            margin: -1px auto 0;
            width: 64%;
            height: 2px;
            left: 0;
            right: 0;
            border-radius: 2px;
            background: $base-color;
        }
        &:before {
            animation: animationOneReverse 1s ease forwards;
        }
        &:after {
            animation: animationTwoReverse 1s ease forwards;
        }
    }
    &__elem {
        &:before,
        &:after {
            content: '';
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
            width: 64%;
            height: 2px;
            border-radius: 2px;
            background: $base-color;
        }
        &:before {
            top: 12px;
            animation: animationBurgerTopReverse 1s ease forwards;
        }
        &:after {
            bottom: 12px;
            animation: animationBurgerBottomReverse 1s ease forwards;
        }
    }
    &.active {
        #{$root}__block {
            &:before {
                animation: animationOne 1s ease forwards;
            }
            &:after {
                animation: animationTwo 1s ease forwards;
            }
        }
        #{$root}__elem {
            &:before {
                animation: animationBurgerTop 1s ease forwards;
            }
            &:after {
                animation: animationBurgerBottom 1s ease forwards;
            }
        }
    }
}

@keyframes animationOneReverse {
    0% {transform: rotate(315deg); }
    25% {transform: rotate(360deg); }
    50%, 100% {transform: rotate(0deg); }
}

@keyframes animationOne {
    0%, 50% {transform: rotate(0deg);}
    75% {transform: rotate(360deg);}
    100% {transform: rotate(315deg);}
}

@keyframes animationTwoReverse {
    0% {transform: rotate(405deg);}
    25% {transform: rotate(450deg);}
    50%, 100% {transform: rotate(0deg);}
}

@keyframes animationTwo {
    0%, 50% {transform: rotate(0deg);}
    75% {transform: rotate(450deg);}
    100% {transform: rotate(405deg);}
}

@keyframes animationBurgerTopReverse {
    0%, 50% {transform: translateY(10px); opacity: 0;}
    51% {transform: translateY(10px); opacity: 1;}
    100% {transform: translateY(0px); opacity: 1;}
}

@keyframes animationBurgerTop {
    0% {transform: translateY(0px);opacity: 1;}
    50% {transform: translateY(10px);opacity: 1;}
    51%, 100% {transform: translateY(10px);opacity: 0;}
}

@keyframes animationBurgerBottomReverse {
    0%, 50% {transform: translateY(-10px);opacity: 0; }
    51% {transform: translateY(-10px);opacity: 1; }
    100% {transform: translateY(0px);opacity: 1; }
}

@keyframes animationBurgerBottom {
    0% {transform: translateY(0px);opacity: 1;}
    50% {transform: translateY(-10px);opacity: 1;}
    51%, 100% {transform: translateY(-10px);opacity: 0;}
}