<div class="country">
    <div class="country__header"></div>
</div>

<h1 class="country__headline">India crew</h1>
<h2 class="country__subline">Mumbai, India</h2>

<div class="content-container main-content">
    <p class="text-paragraph">India is a country with a rich cultural heritage. With growing technological advancements, India is a great location to establish international digital media companies. ULS-India employs the top SEO strategists, marketing experts, and web and app developers.</p>
</div>

<app-quote-section></app-quote-section>
