@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?avaqn0");
  src: url("../fonts/icomoon/icomoon.eot?avaqn0#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?avaqn0") format("truetype"), url("../fonts/icomoon/icomoon.woff?avaqn0") format("woff"), url("../fonts/icomoon/icomoon.svg?avaqn0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'RegalBlack';
  src: url("../fonts/pfregaldisplaypro-ublack.eot");
  src: url("../fonts/pfregaldisplaypro-ublack.eot?#iefix") format("embedded-opentype"), url("../fonts/pfregaldisplaypro-ublack.woff2") format("woff2"), url("../fonts/pfregaldisplaypro-ublack.woff") format("woff"), url("../fonts/pfregaldisplaypro-ublack.ttf") format("truetype"), url("../fonts/pfregaldisplaypro-ublack.svg#svgFontName") format("svg"); }
html, body, div, ul, li, p, h1, h2, h3, h4, h5, h6, button, a, input {
  margin: 0;
  padding: 0;
  color: #000;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1560px; }

header {
  padding: 73px 0 0;
  position: relative;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-image: url(../images/top-background.jpg); }

header .food {
  top: 190px;
  right: 0;
  z-index: 1;
  max-width: 915px;
  position: absolute; }

header .container {
  padding-left: 22px;
  position: relative;
  padding: 0 15px 386px;
  z-index: 2; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.burger {
  top: 14px;
  right: 15px;
  display: none;
  cursor: pointer;
  position: absolute;
  padding: 1px 5px;
  border-radius: 3px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: #e71204; }

.bar1, .bar2, .bar3 {
  width: 20px;
  height: 1px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-4px, -5px);
  transform: rotate(45deg) translate(-4px, -5px); }

header ul {
  width: 38%;
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

header a {
  font-size: 16px;
  color: #000;
  opacity: 0.8; }

header h1 {
  font-size: 100px;
  padding-top: 250px;
  font-family: "RegalBlack"; }

header h1 span {
  display: block; }

header p {
  width: 790px;
  color: #000;
  opacity: 0.8;
  line-height: 1.6;
  font-size: 20px;
  margin: 20px 0 60px 0; }

header .register {
  color: #fff;
  width: 262px;
  height: 70px;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  padding-top: 20px;
  text-align: center;
  border-radius: 40px;
  border: 1px solid transparent;
  background-color: #e71204;
  transition: all 0.35s linear;
  opacity: 1.0;
  display: inline-block; }
  header .register:hover {
    color: #e71204;
    border: 1px solid #e71204;
    background-color: #fff; }

.benefits {
  z-index: 2;
  margin-top: -130px;
  position: relative;
  min-height: 1060px;
  padding: 295px 0 110px;
  background-size: cover;
  box-sizing: border-box;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url(../images/Benefits-background.png); }

.benefits h2 {
  color: #fff;
  font-size: 86px;
  font-family: "RegalBlack"; }

.benefits .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.benefits .col {
  padding: 0 15px; }

.benefits img {
  width: 100%; }

.benefits .container > .col {
  width: 50%; }

.benefits .container > .col:first-child {
  padding: 25px 0 0 15px; }

.benefits .container > .col:last-child {
  padding-left: 32px; }

.benefits .row {
  padding: 80px 0 12px;
  max-width: 640px; }

.benefits .row .col {
  width: 50%;
  padding: 0;
  vertical-align: top;
  display: inline-block; }

.benefits .row .col:last-child {
  padding-left: 50px; }

.benefits h3 {
  color: #fff;
  font-size: 26px; }

.benefits p {
  width: 90%;
  color: #fff;
  opacity: 0.6;
  font-size: 16px;
  margin-top: 15px; }

.search {
  padding: 173px 0 10px;
  background-repeat: no-repeat;
  background-position: 35px bottom;
  background-image: url(../images/tomatoes.png); }

.search h2 {
  color: #000;
  display: block;
  text-align: center;
  font-size: 86px;
  font-family: 'RegalBlack'; }

.search form {
  padding: 75px 0 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center; }

.form-group {
  width: 226px;
  margin: 0 20px;
  position: relative; }

.form-group input {
  z-index: 1;
  color: #000;
  width: 100%;
  height: 52px;
  font-size: 16px;
  border-radius: 30px;
  padding: 0 50px 0 30px;
  border: 1px solid rgba(0, 0, 0, 0.5); }

.form-group img {
  top: 23px;
  right: 30px;
  cursor: pointer;
  position: absolute;
  display: inline-block; }

.form-group ul {
  top: 51px;
  width: 75%;
  left: 0;
  right: 0;
  z-index: 2;
  margin: auto;
  display: none;
  cursor: pointer;
  position: absolute;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5); }

.form-group li {
  padding: 5px 15px; }

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }

.products .discount {
  top: 17px;
  right: 17px;
  width: 77px;
  height: 77px;
  color: #fff;
  font-size: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  background-color: #e71204; }

.products .item {
  width: 365px;
  position: relative;
  margin-bottom: 21px;
  background-color: #fff;
  border: 1px solid #c2c2c2; }

.products .image {
  width: 100%;
  height: 308px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2; }

.products .item-info {
  padding: 45px 35px; }

.products .name {
  color: #000;
  font-size: 18px; }

.products .price {
  color: #e71204;
  font-size: 26px;
  font-weight: 700; }

.products .price span {
  color: #000;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
  vertical-align: middle;
  display: inline-block;
  text-decoration: line-through; }

.search a {
  color: #fff;
  width: 262px;
  height: 70px;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  padding-top: 20px;
  text-align: center;
  border-radius: 40px;
  border: 1px solid transparent;
  background-color: #e71204;
  transition: all 0.35s linear;
  display: block;
  text-align: center;
  margin: 55px auto 0; }
  .search a:hover {
    color: #e71204;
    border: 1px solid #e71204;
    background-color: #fff; }

.slider {
  margin: 90px 0 0 0; }

.item {
  cursor: move; }

.reviews {
  padding: 165px 0 0; }

.reviews p {
  width: 58%;
  margin: 0 auto;
  font-size: 20px;
  color: #000;
  opacity: 0.9;
  line-height: 1.9;
  text-align: center; }

.reviews h2 {
  color: #000;
  display: block;
  text-align: center;
  font-size: 86px;
  font-family: 'RegalBlack'; }

.reviews h3 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-top: 75px; }

.reviews h3 span {
  opacity: 0.6;
  font-size: 16px;
  font-weight: 400;
  display: block;
  margin-top: 10px; }

.slick-arrow {
  top: 80px;
  z-index: 1;
  width: 38px;
  height: 38px;
  font-size: 0px;
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat; }

.slick-next {
  right: 10%;
  background-image: url(../images/icons/slider-arrow.svg); }

.slick-prev {
  left: 10%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background-image: url(../images/icons/slider-arrow.svg); }

.protection {
  min-height: 1160px;
  padding: 295px 0 0;
  margin: 75px 0 0 0;
  box-sizing: border-box;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url(../images/Protection-background.png); }

.protection h2 {
  color: #000;
  display: block;
  text-align: center;
  font-size: 86px;
  font-family: 'RegalBlack';
  color: #fff; }

.protection .col {
  width: 50%; }

.protection h3 {
  color: #fff;
  margin: 35px 0 15px;
  font-size: 26px; }

.protection p {
  width: 90%;
  color: #fff;
  opacity: 0.6;
  font-size: 16px;
  margin-top: 15px;
  margin: 15px auto 0 auto; }

.protection .seller {
  margin-left: 100px; }

.protection .buyer,
.protection .seller {
  width: 260px;
  text-align: center;
  margin: 0 auto; }

.protection .buyer .icon {
  width: 64px;
  height: 75px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/icons/buyer.svg); }

.protection .seller .icon {
  width: 64px;
  height: 75px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/icons/seller.svg); }

.protection .row {
  width: 60%;
  display: flex;
  margin: 90px auto 0;
  flex-direction: row; }

.register {
  height: 880px; }

.register .row {
  display: flex;
  padding: 100px 13% 0;
  vertical-align: top;
  flex-direction: row;
  justify-content: space-between; }

.register h2 {
  padding: 165px 0 0 0;
  color: #000;
  display: block;
  text-align: center;
  font-size: 86px;
  font-family: 'RegalBlack'; }

.register .icon {
  z-index: 1;
  width: 250px;
  height: 250px;
  position: relative;
  border-radius: 50%;
  margin: 0 auto; }

.register .col {
  width: 305px;
  cursor: pointer;
  text-align: center;
  position: relative; }

.register .col:after {
  top: 130px;
  left: 0;
  right: 0;
  z-index: 0;
  margin: auto;
  content: "";
  width: 96%;
  display: none;
  height: 380px;
  position: absolute;
  border: 1px solid #e6e6e6; }

.register h3 {
  opacity: 0.8;
  font-size: 18px;
  margin: 0 0 10px; }

.register p {
  opacity: 0.6;
  font-size: 14px;
  line-height: 1.7; }

.register .icon div {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #e71204;
  width: 160px;
  height: 120px;
  margin: auto;
  font-size: 100px;
  position: absolute;
  font-family: 'icomoon';
  background-position: center;
  background-repeat: no-repeat; }

.register a {
  color: #fff;
  width: 262px;
  height: 70px;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  padding-top: 20px;
  text-align: center;
  border-radius: 40px;
  border: 1px solid transparent;
  background-color: #e71204;
  transition: all 0.35s linear;
  margin: 30px 0;
  padding-top: 20px;
  display: none; }
  .register a:hover {
    color: #e71204;
    border: 1px solid #e71204;
    background-color: #fff; }

.register .bag:after {
  content: "\e905"; }

.register .wallet:after {
  content: "\e90b"; }

.register .manufacturer:after {
  content: "\e907"; }

.register .shipper:after {
  content: "\e909"; }

.newsletters {
  padding: 267px 0 70px;
  background-repeat: no-repeat;
  background-position: top right;
  background-image: url(../images/vegetables.jpg); }

.newsletters form {
  max-width: 780px;
  margin: 0 auto; }

.newsletters .container {
  max-width: 1440px; }

.newsletters h2 {
  color: #000;
  display: block;
  text-align: center;
  font-size: 86px;
  font-family: 'RegalBlack'; }

.newsletters input {
  width: 100%;
  height: 70px;
  display: block;
  padding: 0 40px;
  margin: 75px 0 30px;
  border-radius: 35px;
  border: 1px solid #c2c2c2; }

.newsletters button {
  color: #fff;
  width: 262px;
  height: 70px;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  padding-top: 20px;
  text-align: center;
  border-radius: 40px;
  border: 1px solid transparent;
  background-color: #e71204;
  transition: all 0.35s linear;
  width: 100%;
  padding-top: 0; }
  .newsletters button:hover {
    color: #e71204;
    border: 1px solid #e71204;
    background-color: #fff; }

.auctions {
  line-height: 1.6;
  text-align: center;
  margin: 110px auto 0; }

.auctions a {
  color: #000;
  opacity: 0.6;
  font-size: 18px; }

.auctions a:after {
  content: "|";
  margin: 0 7px; }

footer {
  padding: 240px 0 125px;
  font-size: 16px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/Benefits-background.png); }

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

footer div {
  color: #fff; }

.social a {
  width: 40px;
  height: 25px;
  color: #58585a;
  font-size: 22px;
  display: inline-block;
  text-align: center;
  background-repeat: no-repeat;
  font-family: 'icomoon'; }

.social a:hover {
  color: #e71204;
  opacity: 1.0 !important; }

.facebook:after {
  content: "\e901"; }

.google:after {
  content: "\e902"; }

.behance:after {
  content: "\e900"; }

.youtube:after {
  content: "\e904"; }

.tweet:after {
  content: "\e903"; }

footer span {
  font-weight: 700;
  display: block; }

.export {
  width: 300px; }

.export,
.copywright a {
  opacity: 0.8; }

.copywright {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.copywright a {
  color: #fff;
  display: block;
  font-weight: 700;
  text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
