
.icon-author-quotes:before { content: '\e800'; } /* '' */
.icon-blog-facebook:before { content: '\e801'; } /* '' */
.icon-blog-mail:before { content: '\e802'; } /* '' */
.icon-navbar-mail:before { content: '\e803'; } /* '' */
.icon-blog-twitter:before { content: '\e804'; } /* '' */
.icon-books-arrow:before { content: '\e805'; } /* '' */
.icon-gallery-arrow:before { content: '\e807'; } /* '' */
.icon-blog-share:before { content: '\e809'; } /* '' */
.icon-contacts-goodreads:before { content: '\e80a'; } /* '' */
.icon-gallery-eye:before { content: '\e80c'; } /* '' */
.icon-amazon:before { content: '\e80d'; } /* '' */