<div class="header">
    <video class="header__video" [autoplay]="true" [loop]="true" [muted]="true">
        <source src="assets/video/platon-page.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <h1 class="header__quotation">Platon
        <span class="header__author">— Chief Office Pet</span>
    </h1>
</div>

<div class="about">
    <div class="favourite">
        <div class="favourite__info">
            <div class="favourite__title">Favourite food</div>
            <div class="favourite__text">Grilled chicken breast with jasmine rice</div>
        </div>
    </div>
    <div class="tasks">
        <div class="tasks__info">
            <div class="tasks__title">Daily tasks</div>
            <div class="tasks__text">Staying cute and friendly and keeping my colleagues on the right path</div>
        </div>
    </div>
    <div class="loves">
        <div class="loves__info">
            <div class="loves__title">Loves</div>
            <div class="loves__text">Taking long walks in the morning</div>
        </div>
    </div>
</div>

<div class="description">
    <h2 class="description__title">About me</h2>
    <div class="description__text">As the resident black lab of our office, I ensure that all my human colleagues don’t have ruff days at work. I like it when I get petted, when my feeding schedule is on time, and, you guessed right, when I get my long walks in the morning and the afternoon. I always stay hydrated to keep my jet black hair flawless and shiny.</div>
</div>

<app-quote-section></app-quote-section>
