<div class="activity">
    <div class="activity__container">
        <h1 class="activity__header">Thinkers. Doers. Agents of change.</h1>
        <div class="activity__text">
            <p>Your brand is important to you, and we'll make it matter to people who see it.
                We help boost brands by imagining and building a user experience consumers
                love. Whether it's branding, digital marketing, social media, SEO, design, or
                development, we'll push our limits to bring amazing campaigns to your table. <span>Your brand success is our state of mind.</span></p>
        </div>
        <a class="activity__link" routerLink="/join-us">Work with us</a>
        <div class="activity__slider">
            <img src="/assets/img/projects_slider/{{imgNum}}.jpg" alt="img">
        </div>
    </div>
</div>

<app-quote-section></app-quote-section>
