#---------------------------------
# Directories
#---------------------------------
**/node_modules/
public/*
archives/*
.next/*


#---------------------------------
# Extensions
#---------------------------------
*.zip


#---------------------------------
# IDE generated
#---------------------------------
.idea/
.project
.vscode/
*.iml


#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db
