.right, .left {
  position absolute
  cursor pointer
  font-size 40px
  color #ffffff
  transition all 0.1s
  &:hover,
  &:active,
  &:focus {
    color #222222
  }
}

.left {
  left -65px
  margin auto
  top 0
  bottom 0
}

.right {
  right -50px
  margin auto
  top 0
  bottom 0
}