<ul class="navigation__list">
    <li class="navigation__list-item">
        <a class="navigation__link" 
           routerLink="/"
           routerLinkActive="navigation__link--active"
           [routerLinkActiveOptions]="{exact: true}">
            <span class="navigation__line"></span>
            Home
        </a>
    </li>
    <li class="navigation__list-item">
        <a class="navigation__link" 
           routerLink="/books" 
           routerLinkActive="navigation__link--active"
           [routerLinkActiveOptions]="{exact: true}">
            <span class="navigation__line"></span>
            Books
        </a>
    </li>
    <li class="navigation__list-item">
        <a class="navigation__link" 
           routerLink="/author" 
           routerLinkActive="navigation__link--active"
           [routerLinkActiveOptions]="{exact: true}">
            <span class="navigation__line"></span>
            Author
        </a>
    </li>
    <li class="navigation__list-item">
        <a class="navigation__link" 
           routerLink="/blog" 
           routerLinkActive="navigation__link--active"
           [routerLinkActiveOptions]="{exact: true}">
            <span class="navigation__line"></span>
            Blog
        </a>
    </li>
    <li class="navigation__list-item">
        <a class="navigation__link" 
           routerLink="/media" 
           routerLinkActive="navigation__link--active"
           [routerLinkActiveOptions]="{exact: true}">
            <span class="navigation__line"></span>
            Media
        </a>
    </li>
    <li class="navigation__list-item">
        <a class="navigation__link" 
           routerLink="/contact" 
           routerLinkActive="navigation__link--active"
           [routerLinkActiveOptions]="{exact: true}">
            <span class="navigation__line"></span>
            Contact
        </a>
    </li>
</ul>