<div class="country">
    <div class="country__header"></div>
</div>

<h1 class="country__headline">Philippines crew</h1>
<h2 class="country__subline">Makati, Philippines</h2>

<div class="content-container main-content">
    <p class="text-paragraph">A sovereign island in Southeast Asia, the Republic of the Philippines’ official languages are Filipino and English. ULS-Philippines employs well-trained, professional, and friendly call center agents, graphic designers, and developers.</p>
</div>

<app-quote-section></app-quote-section>
