.exchange-tokens {
    padding-bottom: 50px;
    &__select {
        width: 100%;
        max-width: 100% !important;
    }
    &__label {
        padding-top: 7px;
        padding-bottom: 7px;
        display: block;
        border-bottom: none;
    }
    &__headline {
        display: block;
        padding: 15px 0 30px 0;
        border-bottom: none;
    }
    &__button {
        height: 100%;
        display: flex;
        max-width: 130px;
        padding-top: 15px;
        align-items: flex-end;
    }
    &__balance {
        max-width: 130px;
    }
    &__row-buy {
        padding-top: 20px;
    }
    &__row-wallet-address, &__row-exchange-address {
        padding-top: 50px;
    }
}