.container {
  margin-left 130px
  margin-right 70px
  position relative
  @media (max-width: 1500px) {
    margin-left 130px
    margin-right 130px
  }
  @media (max-width: 991px) {
    margin-left 80px
    margin-right 80px
  }
}

.slide {
  //height 240px
  //width 340px
  //background-color orange
  //border 1px solid black
  img {
    margin 0 auto
  }
  @media (max-width: 600px) {
    img {
      max-width 100%
    }
  }
}