<div class="popup" [class.active]="action_value" (click)="closeModal($event)">
    <div class="popup__window">
        <div class="popup__image">
            <img src="/assets/img/alert-modal.webp" alt="Usa-link-system">
        </div>
        <div class="popup__message" [class.popup__message-error]="message.error">
            <div class="popup__title">{{ message.title }}</div>
            <div class="popup__text">{{ message.text }}</div>
        </div>
        <div class="popup__cross" (click)="closeModal($event)">
            <div class="popup__line"></div>
            <div class="popup__line"></div>
        </div>
    </div>
</div>
